# Ignore build output
target/

# Ignore IDE-specific files
.idea/
*.iml
.vscode/

# /Resources
nyc-events/src/main/resources

# Ignore Maven-specific files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Ignore log files
*.log